body {
  background-color: #f8f9fa; /* Adjust the color as needed */
}

@media (max-width: 576px) {
  /* Apply styles only on screens smaller than 576px */
  .btn-block-mobile {
    display: block !important;
    width: 100%;
  }
}
